<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.spaceapps.myapplication">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:name="com.spaceapps.myapplication.app.SpaceAppsWearableApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <activity
            android:name="com.spaceapps.myapplication.app.activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.spaceapps.myapplication.app.initializers.FirebaseAppInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.spaceapps.myapplication.app.initializers.VenomInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.spaceapps.myapplication.app.initializers.TimberInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>